.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

/*
     FILE ARCHIVED ON 03:31:53 Aug 23, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:04:20 Apr 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.586
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.05
  esindex: 0.009
  cdx.remote: 69.479
  LoadShardBlock: 137.185 (3)
  PetaboxLoader3.datanode: 191.557 (5)
  load_resource: 225.902
  PetaboxLoader3.resolve: 91.243
  loaddict: 74.334
*/