.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

/*
     FILE ARCHIVED ON 19:01:00 Jan 16, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:34:25 Apr 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.137 (2)
  exclusion.robots: 0.076 (2)
  exclusion.robots.policy: 0.057 (2)
  esindex: 0.02 (2)
  cdx.remote: 112.116 (2)
  LoadShardBlock: 448.472 (6)
  PetaboxLoader3.datanode: 664.945 (8)
  PetaboxLoader3.resolve: 7435.509 (6)
  load_resource: 7820.239 (2)
*/